@tailwind base;
@tailwind components;
@tailwind utilities;


/*Student ID: 00013836*/
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #8A2BE2;
    background: radial-gradient(circle, #8A2BE2, #800080);
    background-size: cover; 
}
th{
    background-color: rgba(38, 7, 85, 0.374);
}
