<div class="p-8 mt-8 flex justify-center shadow ">
    <div class="DetailsPage flex flex-col shadow border w-1/2 p-4 justify-center align-middle bg-green-300 rounded-3xl">
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">House Title:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.houseTitle }}</span>
        </div>
        <div class="flex w-full justify-between m-3 mt-7">
            <span class="font-bold w-1/2">Description:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.description }}</span>
        </div>
        <div class="flex w-full justify-between m-3 mt-7">
            <span class="font-bold w-1/2">Area:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.area }}</span>
        </div>
        <div class="flex w-full justify-between m-3 mt-7">
            <span class="font-bold w-1/2">Price:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.price }}</span>
        </div>
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">Completion Date:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.completionDate }}</span>
        </div>
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">For Rent:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.isForRent ? 'Yes' : 'No' }}</span>
        </div>
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">Available:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.isAvailable ? 'Yes' : 'No' }}</span>
        </div>
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">Location:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.location_.city }} - {{ ApartmentDetails.location_.region }} - {{ ApartmentDetails.location_.street }}</span>
        </div>
        <div class="flex w-full justify-between m-4">
            <span class="font-bold w-1/2">Vendor:</span>
            <span class="mr-6 w-1/2">{{ ApartmentDetails.vendor_.fName }} {{ ApartmentDetails.vendor_.lName }}</span>
        </div>

        <div class="flex justify-center mt-8">
            <button class="action_btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="navigateBackToList()">
                Back to List
            </button>

            <button class="ml-8 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="deleteThisApartment(ApartmentDetails)">
                Delete
            </button>
        </div>
    </div>
</div>
