<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4 EditForm">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>City </mat-label>
                <input matInput name="city" type="text" [(ngModel)]="ChosenLocation.city">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Region </mat-label>
                <input matInput name="region" type="text" [(ngModel)]="ChosenLocation.region">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Street </mat-label>
                <input matInput name="street" type="text" [(ngModel)]="ChosenLocation.street">
            </mat-form-field>
        </div>
        
        <div class="flex justify-center mt-4">
            <button mat-raised-button class="action_btn" color="primary" (click)="EditChosenLocation()"> Save changes </button>
        </div>
        <div class="flex justify-center mt-8">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="navigateBackToList()">
                Back to List
            </button>
        </div>
    </form>
</div>
