.LocationRecords{
    margin: 0%, 2%;
    background-color: rgb(255, 255, 255);
    
}
.LocationRecords > div {
    margin-top: -1px;
  }

.LocationRecords th{
    background-color: #01140db6    ; 
    color: white; 
}

.action_btn {
    background-color: #01140db6; 
    color: white; 
}