<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>House title</mat-label>
                <input matInput name="houseTitle" type="text" [(ngModel)]="ChosenApartment.houseTitle">
            </mat-form-field>
        </div>
        
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" [(ngModel)]="ChosenApartment.description"></textarea>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Area</mat-label>
                <input matInput name="area" type="number" [(ngModel)]="ChosenApartment.area">
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Price</mat-label>
                <input matInput name="price" type="number" [(ngModel)]="ChosenApartment.price">
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Completion Date</mat-label>
                <input matInput name="completionDate" [matDatepicker]="picker" [(ngModel)]="ChosenApartment.completionDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-checkbox name="isForRent" [(ngModel)]="ChosenApartment.isForRent">For Rent</mat-checkbox>
        </div>
        <div class="flex">
            <mat-checkbox name="isAvailable" [(ngModel)]="ChosenApartment.isAvailable">For Rent</mat-checkbox>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Location </mat-label>
                <mat-select name="location_Id" [(ngModel)]="l_ID">
                  @for (location of locationList; track location){
                    <mat-option [value]="location.id">{{location.city}} - {{location.region}} - {{location.street}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Vendor </mat-label>
                <mat-select name="vendor_Id" [(ngModel)]="v_ID">
                  @for (vendor of vendorList; track vendor){
                    <mat-option [value]="vendor.id">{{vendor.fName}}  {{vendor.lName}}</mat-option>
                  }
                </mat-select>

            </mat-form-field>
        </div>

        <div class="flex justify-center">
            <button mat-raised-button color="primary" (click)="EditApartment()">Save Changes</button>
        </div>
    </form>
</div>
