<div class="flex justify-center w-full mt-5">
  <div class="flex flex-col mat-elevation-z8 w-3/4 ">
    <div mt-4 mb-4 class="w-full btn_container flex justify-between ">
      <button mat-flat-button color="primary" class="createBtn w-1/4" (click)="CreateNew()">Create</button>
    
      <input type="text" placeholder="Search..." class="searchInput w-4/5" [(ngModel)]="searchText">
      <button mat-icon-button class="search_Btn w-1/5" (click)="SearchByInput(searchText)">Search</button>
    </div>

    <div class="flex filter-container">
      <mat-checkbox  [(ngModel)]="showAvailableOnly" class="custom-checkbox" (change)="filterByAvailability()">Show Available Only</mat-checkbox>
      <mat-checkbox  [(ngModel)]="showForRentOnly" class="custom-checkbox ml-4" (change)="filterByRentability()">Show For Rent Only</mat-checkbox>
    </div>

    <table mat-table  [dataSource]="ApartmentList" class="ApartmentRecords w-full">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> No. </th>
        <td mat-cell *matCellDef="let element " style="width: 10%;"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="houseTitle">
        <th mat-header-cell *matHeaderCellDef> House Title </th>
        <td mat-cell *matCellDef="let element"> {{element.houseTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
<!--
      <ng-container matColumnDef="completionDate">
        <th mat-header-cell *matHeaderCellDef> Completion Date </th>
        <td mat-cell *matCellDef="let element">{{ formatCompletionDate(element.completionDate) }}</td>
      </ng-container>

      <ng-container matColumnDef="isForRent">
        <th mat-header-cell *matHeaderCellDef> Is for Rent </th>
        <td mat-cell *matCellDef="let element"> {{element.isForRent}} </td>
      </ng-container>

      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef> Is isAvailable </th>
        <td mat-cell *matCellDef="let element"> {{element.isAvailable}} </td>
      </ng-container>
-->
      <ng-container matColumnDef="Actions" class="ActionsContainer">
        <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Actions </th>
        <td mat-cell *matCellDef="let element" style="width: 30%;" class="action_btn_container">
          <button mat-raised-button color="primary" class="action_btn ml-2" (click) = "EditClicked(element.id)">Edit</button>
          <button mat-raised-button color="accent" class="action_btn ml-2" (click) = "DetailsClicked(element.id)">Details</button>
          <button mat-raised-button color="warn" class=" ml-2" (click) = "DeleteClicked(element.id)">Delete</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
</div>



