.ApartmentRecords{
    margin: 0%, 2%;
    background-color: rgb(255, 255, 255);
    table-layout: fixed;
}

.ApartmentRecords th{
    background-color: #01140db6; 
    color: white; 
  }

.ApartmentRecords td{
    height: 50px; 
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 

}

.action_btn {
    background-color: #01140db6; 
    color: white; 
    border: 2px solid #01140db6;
    transition: all 0.3s ease;
}

.action_btn:hover {
    background-color: #11231d; 
    color: #08ffa4;
    border-color: #11231d; 
    transform: scale(1.05);
}


.btn_container{
    background-color: transparent;
}

.createBtn{
    background-color: #022116; 
}

.searchInput{
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.search_Btn{
    padding: 2px;
    border-radius: 5px;
    width: 20%;
    height: 35px;
    background-color: #022116; 
    color: white;
    margin-bottom: 0;
}

.search_Btn:hover {
    background-color: #11231d; 
    color: #ab1010;
    border-color: #000000; 
    transform: scale(1.05);
}

.filter-container {
    background-color: #92118e87;
    padding: 10px;
    color: rgba(172, 172, 172, 0.714);
    border-radius: 5px;
}
